<div class="container">
  <% if @dossier.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @dossier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_for [@carton, @dossier] do |f| %>
<h3 class="coordonnees">Ajouter un dossier</h3><br>
  <div class="client">
    <%= f.label :client %>
    <%= f.text_field :client %>
  </div>
    <div class="nom">
    <%= f.label :sujet_du_dossier %>
    <!-- <#%= f.select :sujet,['blabla', "bloblo"],prompt: 'Sélectionnez un sujet'%> -->
    <%= f.text_field :sujet %>
  </div>
    <div class="sensible">
    <%= f.label :sensible? %>
    <%= f.check_box :sensible %>
  </div>

    <%= f.submit %>
</div>
<% end %>
